td {
    font-size: 32px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 0;
}

.table {
    border: 0;
    height: 510px;
    width: 550px;
    margin-left: 400px;
}

.text {
    text-align: center;
}